<link rel="stylesheet" href="/static/styles.css" />
<%- include("partials/header2"); -%>
<h2>Welcome Admin</h2>
<hr>  
<a class="btn btn-light btn-lg" href="/adminDashboard" role="button">Edit Cars</a>
<a class="btn btn-dark btn-lg" href="/logout" role="button">Log Out</a>

<section class="py-5 text-center container">
  <div class="col-lg-6 col-md-8 mx-auto">
    <div class="row py-lg-5">
      <h1 class="fw-light">AeroAutoHub</h1>
    </div>
  </div>
  
</section>

    <div class="album py-5 bg-body-tertiary">
      <div calss="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          
        </div>
      </div>
    </div>
    <script>
      let initialCars = <%- JSON.stringify(cars) %>;
      // console.log("innitial user is ", initialUser);
      // console.log("initial cars are: ", initialCars);
    </script>
    <script src="/scrollAdm.js"></script>
<%- include('chat') %>