<%- include("partials/header2"); -%>
<h2>Welcome admin</h2>
<hr>  
<a class="btn btn-dark btn-lg" href="/adminmainpg" role="button">Main Page</a>
<br>
<br>
<img 
src="<%= img %>" 
style="width: 50%; height: auto; min-height: 10%; position: relative; top: 50%;" 
/>
<h1><%=title%></h1>
<p><%=content%></p>

  <!-- <form action="/delete" method="POST">
    <button type="submit" class="btn btn-dark">Delete</button>
  </form> -->

