<%- include("partials/header2"); -%>
  <img 
  src="<%= img %>" 
  style="width: 50%; height: auto; min-height: 10%; position: relative; top: 50%;" 
  />
  <h1><%=title%></h1>
  <p><%=content%></p>
  <button type="button" class="btn btn-sm btn-outline-secondary" onclick="location.href='/'">Main Page</button>

